<% @medical_records.each do |medical_record| %>
  <div data-controller="drawer" data-drawer-target="drawer" class="item-drawer">
    <div class="item-drawer-content">
      <h2><%= medical_record.date %></h2>
      <h3>Symptoms: </h3>
      <% if medical_record.symptoms? %>
        <li><%= medical_record.symptoms[0] %></li>
      <% end %>
    </div>
    <div  data-action="click->drawer#open"  class="item-drawer-button">
      <i class="fas fa-ellipsis-v"></i>
    </div>
    <div class="item-drawer-settings">
      <a href="<%= patient_medical_record_path(medical_record.patient, medical_record) %>"><i class="fas fa-folder-open"></i></a>
      <a href="<%= edit_patient_medical_record_path(medical_record.patient, medical_record) %>"><i class="fas fa-pencil-alt"></i></a>
    </div>
  </div>
<% end %>
