<div class="footer">
  <div class="container-fluid d-flex justify-content-around py-1 ">
    <%= link_to dashboard_path do %>
      <i class="fas fa-plus fa-3x"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-pen fa-3x"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-notes-medical fa-3x"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-qrcode fa-3x"></i>
    <% end %>
  </div>
</div>
