<div class="container mt-3 mb-5 pb-5" data-controller="flatpickr">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <p class="event"><%= event.title.capitalize %></p>
    <% end %>
  <% end %>
</div>
