<div class="container">
  <h1>Dashboard</h1>
  <% if user_signed_in? %>
    <div class="cards">
      <%= link_to patient_medical_records_path(current_user.patient) do%>
        <div class="card-category"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1584628804801-aa1a640cba8e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZpbGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800)">
          Medical Records
        </div>
      <% end %>
      <%= link_to patient_medical_records_path(current_user.patient) do%>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1435527173128-983b87201f4d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YXBwb2ludG1lbnRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800)">
          Appointments
        </div>
      <% end %>
      <%= link_to patient_medical_records_path(current_user.patient) do%>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/45/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bG9jYXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=800)">
          Locate
        </div>
      <% end %>
      <%= link_to patient_medical_records_path(current_user.patient) do%>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568667256549-094345857637?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800)">
          Library
        </div>
      <% end %>
    </div>
  <% else %>
  <% end %>
</div>
