<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) url(images/background.png);">
  <div class="container">
    <h1>Welcome to our super special awesome MEDREC app</h1>
    <p>Packed with exciting features</p>
    <a class="btn btn-flat" href="/users/sign_in" >Enter</a>
  </div>
</div>
