<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) url(images/newbackground.jpg);">
  <div class="overlay">
    <div class="container">
      <h1>MedRec</h1>
      <p><strong>Take your health with you</strong></p>
      <%= link_to "Enter", dashboard_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
