<div class="background" style="padding: 0; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) url(images/newbackground3.jpg);">
  <div class="overlay">
    <div class="container mb-3">
      <%= image_tag("newlogo4.png", alt: "logo", style: 'width:100%;') %>
      <%= link_to "ENTER", dashboard_path, class:"btn btn-gradient mt-3", style:"font-size:24px; color:white;" %>
    </div>
  </div>
</div>
