<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) url(images/background.png);">
  <div class="container">
    <h1>MedRec</h1>
    <p>Take your health with you</p>
    <%= link_to "Enter", dashboard_path, class:"btn btn-primary" %>
  </div>
</div>
