<div class="background" style="padding: 0; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) url(images/newbackground.jpg);">
  <div class="overlay">
    <div class="container mb-3">
      <%= image_tag("logo2.png", alt: "logo", style: 'width:400px;') %>
      <%= link_to "Enter", dashboard_path, class:"btn btn-lg btn-primary mt-3", style:"font-size:28px;" %>
    </div>
  </div>
</div>
