<div class="container mt-3 mb-5 pb-5">
  <h1>Patients</h1>
  <% @patients.each do |patient| %>
    <div data-controller="drawer" data-drawer-target="drawer" class="item-drawer">
      <div class="item-drawer-content">
        <%= image_tag (patient.photo.attached? ? cl_image_path(patient.photo.key) : "user.png"), class: "avatar" %>
        <h3><%= patient.last_name%>, <%= patient.first_name %></h3>
      </div>
      <div  data-action="click->drawer#open"  class="item-drawer-button">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <div class="item-drawer-settings">
        <a href="<%= patient_medical_records_path(patient.id) %>"><i class="fas fa-folder-open"></i></a>
      </div>
    </div>
  <% end %>
</div>
