.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(341deg, #0079f1, #d9e1f0, #ffffff);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  object-fit: cover;
}

.nav-link {
  background: rgb(255, 255, 255);
  border-radius: 9px;
  color: rgb(10, 153, 141);
  font-weight: 900;
}

.navbar-toggler, .navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
