.navbar-lewagon {
  justify-content: space-between;
  background: rgb(10, 153, 141);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  object-fit: cover;
}


.nav-link {
  background: rgb(255, 255, 255);
  border-radius: 9px;
  color: rgb(10, 153, 141);
  font-weight: 900;
}
