.page-frame-content {
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.page-frame-header {
  margin-bottom: 3px;
}

.page-frame-body {
  flex-grow: 1;
  overflow: scroll;
  background: #f1f1e8;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-frame-footer {
  height: 60px;
  background: linear-gradient(156deg, #7f7fd5, #86a8e7, #91eae4);
  color: white;
  link_to {text-decoration:none; background-color:transparent;};
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
