.page-frame-content {
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.page-frame-header {
  margin-bottom: 3px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
}

.page-frame-body {
  flex-grow: 1;
  overflow: scroll;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-frame-footer {
  height: 60px;
  background: linear-gradient(156deg, #7f7fd5, #86a8e7, #91eae4);
  color: white;
  link_to {text-decoration:none; background-color:transparent;};
  position: fixed;
  justify-content:space-between;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 32px;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: rgb(29, 101, 169);
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  position: absolute;
  bottom: 8px;
  transform: translateX(-50%);
}

.circle-button {
  justify-content: end;
}

.w-10 {
  align-items: center;
}
